#attendancetable{
    width: 100%;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#attendancetable th,#attendancetable td{
    border: 1px solid #ddd;
    padding: 8px;
}
#attendancetable th{
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #34495E;
    color: white;
}
#attendancetable tr:nth-child(even){background-color: #f2f2f2;}

#attendancetable tr:hover {background-color: #ddd;}

#diviframe{
    height: 90%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#printbutton{
    margin-top: 10px;
    height: 10%;
    text-align: center;
}