.admin-txt{
    margin-top: 275px;
    text-align: center;
    background-color: transparent;
    font-size: 50px;
    position: relative;
}

body{

    background-image: url("../img/mg.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 
 }
 
 .tt{
    background-color: transparent;
    font-size: 30px;
 }

