body{

    background-image: url("/assets/img/bgg.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 
 }
 
 .bg-text{
     padding-left: 15px;
     color: black;
     margin-top: 250px;
 
     
 }
 
