body{

   background-image: url("../img/facial-recognition.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.bg-text{
    padding-left: 15px;
    color: aliceblue;
    margin-top: 230px; 
    
}

.footer{

    background-color: aliceblue;
    margin-top: 400px;
    height: auto;
    width: auto;
}

.ft{
    padding-top: 30px;
    padding-bottom: 30px;
}